# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
ENV/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & caches
# =========================
*.log
.cache/

# =========================
# Build artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Local config / scratch
# =========================
*.env
.env